

{% extends 'root/src/landing/base.html' %}
{% load staticfiles%}


{% block content %}

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact">
                        <!-- widget search -->
                        <h3 class="widget-title">Contact Info</h3>
                        <address>
                            <strong>Account Manager</strong>
                            <br> 508 Nonhyeon-ro, Yeoksam 1(il)-dong,
                            <br> Gangnam-gu, Seoul <br>
                            <abbr title="Phone">P:</abbr> (010) 0000-0000
                        </address>
                        <address>
                            <strong>Contact Name</strong>
                            <br>
                            <a href="mailto:#">alapca_dot@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1>Contact Form</h1>
                            <p> Please complete the form below. We'll do everything we can to respond to you as quickly as possible.</p>
                            <form>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label" for="name">User Account</label>
                                        <input type="text" name="name" id="name" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label" for="Subject">Password</label>
                                        <input type="text" name="Subject" id="Subject" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">Login</button>
                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">SignUp</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}